h1 {
    text-align: center;
    background-color: black;
    padding: 20px;
    margin-top: 0px;
}
p, li {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
img {
    height: auto;
    width: auto;
}
body {
    background-color: rgba(0, 0, 0, 0.866);
    font-size: larger;
    color: white;
}
a {
    color: red;
}

a:hover, .index a:hover {
    color: grey;
}
.index a {
    box-sizing: border-box;
    width: 300px;
    height: 110px;
    display: inline-block;
    background-color: black;
    padding: 40px;
    text-align: center;
    color: white;

}
.index img {
    width: 300px;
    height: auto;
    display: block;
}

.index div {
    margin: 10px;
    display: inline-block;
    border-style: outset;
    border-color: brown;
}
.index div:hover{
    border-color: grey;
}